.login {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.login-background-img {
    background-image: url("../assets/background-img-logo.png");
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 250px;
    max-height: 260px;
}

.login-choices {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.role-btn {
    width: 275px;
    height: 65px;
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
    border-radius: 10px;
}
